body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre on the y axis when flex dir is column */
    align-items: center; /* Centre on the x axis when flex dir is column */
    font-family:'Montserrat'; /* paragraph font */
    font-size: 14px;
    font-weight: 500;
    color: black;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    height: 100vh;
    overflow:hidden;
}

h1, #current-price {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size:xx-large;
    margin: 0; /*To override the margins given with h1 */
}

.centre-container{
    display: flex;
    height: 500px;
    width: 700px;
    background-color: white;
    border-style: double;
    border-color: hsl(30, 38%, 92%);
    border-radius: 16px;
}

.product-image {
    border-style: double;
    border-color: hsl(30, 38%, 92%);
    border-top-left-radius: 12px; /* To soften the left side border on the img */
    border-bottom-left-radius: 12px; /* To soften the left side border on the img */
    object-fit: cover; 
    height: 100%;
}

.product-information-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    line-height: 1.8;
    margin: 0;
}

.pricing {
    display: flex;
    gap: 25px;
}

#was-price {
    text-decoration: line-through;
    align-self: center;
}

#current-price{
    color: hsl(158, 36%, 37%);
}

.button-container {
    display: flex;
    justify-content: left;
}

button {
    display: flex;
    /* gap: 16px; */
    background-color: hsl(158, 36%, 37%);
    border-color: hsl(158, 36%, 37%);
    border-style: hidden; /* Removed the button shadow effect */
    color: white;
    border-radius: 8px;
    font-weight: 700;
    padding: 4% 27%;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

button:hover {
    background-color: hsl(158, 40%, 18%);
    cursor: pointer;
}

#perfume {
    opacity: 60%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 767px) {
    body {
        overflow: auto;
        width: 100%;
    }
    .centre-container {
        display: grid;
        grid-template-columns: 1fr;
        height: 95vh;
        width: 90%;
        max-width: 400px;
        max-height:fit-content;
    }
    .product-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .product-image {
        max-width: 100%;
        border-top-left-radius: 12px; 
        border-bottom-left-radius: 0px;
        border-top-right-radius: 12px;
        display: block;
    }
    .product-information-container {
        display: flex;
        padding: 0px;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
        gap: 0.75rem;
    }
    .button-container {
        justify-content: center;
    }
    button {
        flex-grow: 1;
    }
}
