/* Quick html linking Test */
body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre on the y axis when flex dir is column */
    align-items: center; /* Centre on the x axis when flex dir is column */
    font-family:'Montserrat'; /* paragraph font */
    font-size: 14px;
    font-weight: 500;
    color: black;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    height: 100vh;
    overflow:hidden;
}

h1, #current-price {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size:xx-large;
    margin: 0; /*To override the margins given with h1 */
}

.centre-container{
    display: flex;
    height: 500px;
    width: 700px;
    background-color: white;
    border-style: double;
    border-color: hsl(30, 38%, 92%);
    border-radius: 16px;
}

.product-image {
    border-style: double;
    border-color: hsl(30, 38%, 92%);
    border-top-left-radius: 12px; /* To soften the left side border on the img */
    border-bottom-left-radius: 12px; /* To soften the left side border on the img */
    object-fit: cover; /* so it does not exceed the boundary of its parent container */
    height: 100%;
}

.product-information-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    line-height: 1.8;
    margin: 0;
}

.pricing {
    display: flex;
    gap: 25px;
}

#was-price {
    text-decoration: line-through;
    align-self: center;
}

#current-price{
    color: hsl(158, 36%, 37%);
}

.button-container {
    display: flex;
    justify-content: left;
}

button {
    display: flex;
    gap: 16px;
    background-color: hsl(158, 36%, 37%);
    border-color: hsl(158, 36%, 37%);
    border-style: hidden; /* Removed the button shadow effect */
    color: white;
    border-radius: 8px;
    font-weight: 700;
    padding-left: 27%;
    padding-right: 27%;
    padding-top: 4%;
    padding-bottom: 4%;
    align-items: center; /* This centres the Add to Cart text and aligns it with the icon */
}

button:hover {
    background-color: hsl(158, 40%, 18%);
    cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
